# This case study consists of 1000 marks and the solution file is expected to be submitted in the upcoming session for evaluation.

In [ ]:
Data wrangling / Data munging

Data wrangling , sometimes referred to as data munging, is the process of transforming and mapping data from one "raw" data form into another format with the intent of making it more appropriate and valuable for a variety of downstream purposes such as analytics.

The data transformations are typically applied to distinct entities (e.g. fields, rows, columns, data values etc.) within a data set, and could include such actions as extractions, parsing, joining, standardizing, augmenting, cleansing, consolidating and filtering to create desired wrangling outputs that can be leveraged downstream.

The recipients could be individuals, such as data architects or data scientists who will investigate the data further, business users who will consume the data directly in reports, or systems that will further process the data and write it into targets such as data warehouses, data lakes or downstream applications.

Data munging broadly consists of following steps :

* Data Ingestion
* Data merging
* Quick data exploration
* Checking initial stats of the data
* Cleaning the data 
    * check for missing values
    * Treat missing values
    * check for inconsistencies in names / values across data columns
    * Treat data inconsistencies
    * renaming columns names
    * introduce new columns after cleaning
* Exploratory Data Analysis (EDA)
    * Data visualisation
    * Data distribution checking
    * Detailed data stats study
    * Check and treat outliers
* Feature engineering 
    * Binning
    * categorical features to one hot feature conversion
    * categorical features to factorized features
    * creating interactive features
    * creating polynomial features
    * deriving features
    * acquiring more features
* Preprocesssing 
    * feature scaling
    * feature normalization 
    * training data format changing as per ML algo

## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Data input

In [2]:
# Download
DATASET = (
    "http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",
    "http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names",
    "http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test",
)

In [3]:
# Load Training and Test Data Sets
headers = ['age', 'workclass', 'fnlwgt', 
           'education', 'education-num', 
           'marital-status', 'occupation', 
           'relationship', 'race', 'sex', 
           'capital-gain', 'capital-loss', 
           'hours-per-week', 'native-country', 
           'predclass']
training_raw = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', 
                       header=None, 
                       names=headers,na_values=["?"])
test_raw = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test', 
                      header=None, 
                      names=headers,na_values=["?"])

In [4]:
# Join Datasets
dataset_raw = training_raw.append(test_raw)
dataset_raw.reset_index(inplace=True)
dataset_raw.drop('index',inplace=True,axis=1)

## Data intial stats checking

In [5]:
dataset_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48843 entries, 0 to 48842
Data columns (total 15 columns):
age               48843 non-null object
workclass         48842 non-null object
fnlwgt            48842 non-null float64
education         48842 non-null object
education-num     48842 non-null float64
marital-status    48842 non-null object
occupation        48842 non-null object
relationship      48842 non-null object
race              48842 non-null object
sex               48842 non-null object
capital-gain      48842 non-null float64
capital-loss      48842 non-null float64
hours-per-week    48842 non-null float64
native-country    48842 non-null object
predclass         48842 non-null object
dtypes: float64(5), object(10)
memory usage: 5.6+ MB

In [6]:
# Describing all the Numerical Features
dataset_raw.describe()

             fnlwgt  education-num  capital-gain  capital-loss  hours-per-week
count  4.884200e+04   48842.000000  48842.000000  48842.000000    48842.000000
mean   1.896641e+05      10.078089   1079.067626     87.502314       40.422382
std    1.056040e+05       2.570973   7452.019058    403.004552       12.391444
min    1.228500e+04       1.000000      0.000000      0.000000        1.000000
25%    1.175505e+05       9.000000      0.000000      0.000000       40.000000
50%    1.781445e+05      10.000000      0.000000      0.000000       40.000000
75%    2.376420e+05      12.000000      0.000000      0.000000       45.000000
max    1.490400e+06      16.000000  99999.000000   4356.000000       99.000000

In [7]:
# Describing all the Categorical Features
dataset_raw.describe(include=['O'])

,age,workclass,education,marital-status,occupation,relationship,race,sex,native-country,predclass
count,48843,48842,48842,48842,48842,48842,48842,48842,48842,48842
unique,147,9,16,7,15,6,5,2,42,4
top,36,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,898,33906,15784,22379,6172,19716,41762,32650,43832,24720

## Q1) Check for missing values

In [8]:
dataset_raw.isnull()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,predclass
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48813,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48814,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48815,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48816,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48817,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48818,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48819,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48820,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48821,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48822,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48823,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48824,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48825,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48826,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48827,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48828,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48829,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48830,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48831,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48832,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48833,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48834,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48835,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48836,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48837,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48838,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48839,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48840,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48841,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
48842,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## Q2) For columns with missing values, print the number of rows with missing values

In [9]:
dataset_raw.apply(lambda x: sum(x.isnull().values), axis = 0)

age               0
workclass         1
fnlwgt            1
education         1
education-num     1
marital-status    1
occupation        1
relationship      1
race              1
sex               1
capital-gain      1
capital-loss      1
hours-per-week    1
native-country    1
predclass         1
dtype: int64

## Q3) For columns with missing values, print the percentage of rows with missing values

In [10]:
dataset_raw.isnull().mean() * 100

age               0.000000
workclass         0.002047
fnlwgt            0.002047
education         0.002047
education-num     0.002047
marital-status    0.002047
occupation        0.002047
relationship      0.002047
race              0.002047
sex               0.002047
capital-gain      0.002047
capital-loss      0.002047
hours-per-week    0.002047
native-country    0.002047
predclass         0.002047
dtype: float64

In [11]:
from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

## Q4) Use the DataFrameImputer class defined above to impute values to rows with  missing values.

In [12]:
import pandas as pd
import numpy as np

df = pd.DataFrame()

df['x0'] = [0.3051,0.4949,0.6974,0.3769,0.2231,0.341,0.4436,0.5897,0.6308,0.5]
df['x1'] = [np.nan,0.2654,0.2615,0.5846,0.4615,0.8308,0.4962,0.3269,0.5346,0.6731]

df

       x0      x1
0  0.3051     NaN
1  0.4949  0.2654
2  0.6974  0.2615
3  0.3769  0.5846
4  0.2231  0.4615
5  0.3410  0.8308
6  0.4436  0.4962
7  0.5897  0.3269
8  0.6308  0.5346
9  0.5000  0.6731

In [13]:
mean_imputer = DataFrameImputer()
# Train the imputor on the df dataset
mean_imputer = mean_imputer.fit(df)
# Apply the imputer to the df dataset
imputed_df = mean_imputer.transform(df)
# View the data
imputed_df

       x0        x1
0  0.3051  0.492733
1  0.4949  0.265400
2  0.6974  0.261500
3  0.3769  0.584600
4  0.2231  0.461500
5  0.3410  0.830800
6  0.4436  0.496200
7  0.5897  0.326900
8  0.6308  0.534600
9  0.5000  0.673100

## Q5) Use appropriate formatting for all columns

In [14]:
dataset_raw['occupation'].unique()
dataset_raw['occupation'] = dataset_raw['occupation'].apply(lambda x : str(x).strip())
dataset_raw.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,predclass
0,39,State-gov,77516.0,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,83311.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,215646.0,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,234721.0,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,338409.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K